<html>
  <body>
    <h1>Transaction Update</h1>
    <h4>Hello, <%= @user.name %></h4>
    <p>
      We have received an update on your recent transaction.
    </p>

    <h5>
      Transaction Details:
    </h5>

    <p class="card-text">
      LoyaltyProgramDataID:
      <%= @transaction.loyalty_program_datum_id%>
    </p>
    
    <p class="card-text">
      Amount Transferred:
      <%= @transaction.amount%>
    </p>
    
    <p class="card-text">
      Transaction Date: 
      <%= @transaction.created_at%>
    </p>

    <p class="card-text">
      Status: 
      <%= @transaction.status%>
    </p>
  </body>
</html>