<% if current_user %> 
<%# Nav Bar  %>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= loyalty_programs_path %>">Loyalty Programs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%#= transactions_path %>">Transactions</a>
      </li>
    </ul>
    <div class="d-flex">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "text-decoration-none text-light" %>
    </div>
  </div>
</nav>

<%= render "accounts/landing" %>


<% else %> 
<%= link_to "Sign In", new_user_session_path %>
<%= link_to  "Sign Up", new_user_registration_path %>
<% end %> 