<div id="<%= dom_id loyalty_program %>">
  <p>
    <strong>Loyalty program:</strong>
    <%= loyalty_program.loyalty_program_id %>
  </p>

  <p>
    <strong>Program name:</strong>
    <%= loyalty_program.program_name %>
  </p>

  <p>
    <strong>Currency name:</strong>
    <%= loyalty_program.currency_name %>
  </p>

  <p>
    <strong>Processing time:</strong>
    <%= loyalty_program.processing_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= loyalty_program.description %>
  </p>

  <p>
    <strong>Enrollment link:</strong>
    <%= loyalty_program.enrollment_link %>
  </p>

  <p>
    <strong>Terms and conditions link:</strong>
    <%= loyalty_program.terms_and_conditions_link %>
  </p>

</div>
