<div class="container-fluid">

	<h1 class="display-3 text-light">Available Loyalty Program Data</h1>

	<div id="loyalty_program_data">
		<div class="row">
			<% @loyalty_programs.each do |loyalty_program_datum, loyalty_program| %> 
				<div class="col-4 p-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"><%= loyalty_program[0].program_name%></h5>
							<p class="card-text">
								LoyaltyProgramID:
								<%= loyalty_program_datum.loyalty_program_id%>
							</p>

							<p class="card-text">
								Current Points:
								<%= loyalty_program_datum.points%>
							</p>
							
							<p class="card-text">
								Latest Update: 
								<%= loyalty_program_datum.updated_at%>
							</p>	

							<p class="card-text">
								Currency Name: 
								<%= loyalty_program[0].currency_name%>
							</p>	
						
							<p name="trans<%= loyalty_program_datum.id %>" class="trans">
								<%= link_to "Transfer Points", edit_loyalty_program_datum_path(loyalty_program_datum.id), class: "btn btn-primary" %>
							</p>					
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>