<p style="color: green"><%= notice %></p>

<%= render @loyalty_program_datum %>

<div>
  <%= link_to "Edit this loyalty program datum", edit_loyalty_program_datum_path(@loyalty_program_datum) %> |
  <%= link_to "Back to loyalty program data", loyalty_program_data_path %>

  <%= button_to "Destroy this loyalty program datum", @loyalty_program_datum, method: :delete %>
</div>
