<%= stylesheet_link_tag "login" %>





<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
  <div class="form">
    <h3>
      Forgot your password?
      <span>Don't worry we got you covered</span>
    </h3>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "label"  %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "ex. sudiptac@gmail.com" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "button"  %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>
