<%= form_with(model: transaction) do |form| %> <% if transaction.errors.any? %>
<div style="color: red">
	<h2>
		<%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being
		saved:
	</h2>

	<ul>
		<% transaction.errors.each do |error| %>
		<li><%= error.full_message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div>
  <%#= form.label :loyalty_program_data, style: "display: block" %> 
  <%#= byebug %> 
  <%#= form.hidden_field :loyalty_program_data, value: LoyaltyProgramData.first %> 
  
  <%# <%= form.label :loyalty_program_data, style: "display: block" %>  %>
  <%#= form.label :loyalty_program_data.account.user, style: "display: block" %> 
</div>

<div>
  <%= form.label :loyalty_program_id, style: "display: block" %> 
  <%= form.select :loyalty_program_id, LoyaltyProgram.all.pluck(:program_name).to_a %>
</div>

<div>
	<%= form.label :transaction_date, style: "display: block" %> 
	<%= form.datetime_select :transaction_date %>
</div>

<div>
  <%= form.label :amount, style: "display: block" %> 
  <%= form.text_field :amount %>
</div>

<div>
	<%= form.label :status, style: "display: block" %>
  <%= form.select :statuses, Transaction.statuses.keys.to_a %>
</div>

<div><%= form.submit %></div>
<% end %>
