<div id="<%= dom_id transaction %>">
  <p>
    <strong>Loyalty program:</strong>
    <%#= transaction.loyalty_program_id.presence %>
  </p>

  <%# <p>
    <strong>User:</strong>
    <%= transaction.user_id %>
  <%# </p> %>

  <%# <p>
    <strong>Transaction date:</strong>
    <%= transaction.transaction_date %>
  <%# </p> %>

  <%# <p>
    <strong>Transactions:</strong>
    <%= transaction.transactions_id %>
  <%# </p> %> 

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <%# <p>
    <strong>Status:</strong>
    <%= transaction.status %>
  <%# </p> %>

</div>
