<p style="color: green"><%= notice %></p>

<h1>All Transactions</h1>



<div id="transactions">
	<% @transactions.each do |transaction| %> <%= render transaction %>
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Transaction</h5>
							<p class="card-text">
								LoyaltyProgramDataID:
								<%= transaction.loyalty_program_datum_id%>
							</p>
							
							
							<p class="card-text">
								Amount Transferred:
								<%= transaction.amount%>
							</p>
							
							<p class="card-text">
								Transaction Date: 
								<%= transaction.created_at%>
							</p>

							<p class="card-text">
								Status: 
								<%= transaction.status%>
							</p>
							

							<%# The field below is only for debugging purpose %>
							<p class="card-text">
								ID: 
								<%= transaction.account_id%>
							</p>
						
							
						</div>
					</div>
				</div>
			</div>

			
		</div>
	<%# <p><%= link_to "Show this transaction", transaction %></p> 
	<% end %>
</div>

<div></div>

<%= link_to "New transaction", new_transaction_path %>
